@import "tailwindcss";
@layer utilities {
    html {
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
      overflow-y: scroll;
    }
    
    .snap-start {
      scroll-snap-align: start;
    }
    
  }
  @keyframes twinkle {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}